<Tabs class='setting_tab' [page]="5" [tabBarPosition]="'left'" [tabDirection]="'vertical'"
  (onTabClick)="onTabClick($event)">
  <TabPane [title]="'车辆设置'">
    <app-list id='car'></app-list>
  </TabPane>
  <TabPane [title]="'人员设置'">
    <app-list id='person'></app-list>
  </TabPane>
  <TabPane [title]="'货料种类'">
    <app-list id='origin'></app-list>
  </TabPane>
  <TabPane [title]="'货料来源'">
    <app-list id='type'></app-list>
  </TabPane>
  <TabPane [title]="'导出'">
    <app-list id='export'></app-list>
  </TabPane>
</Tabs>