<ion-content>
    <div id="content_box">
        <p class='total_header'>{{date | date:'yyyy-MM-dd'}}&nbsp;统计(单位：吨)</p>
        <!-- <div style="float: right;margin-right: 32px;" size='small' Button [inline]="true" [type]="'ghost'"
            (click)="share()">分享</div> -->
        <p class="title">车队&nbsp;&nbsp;共计：
            <span style="color: #e94f4f;">{{carTotal.total}}({{carTotal.count}}车)</span>
            <ng-container *ngFor="let car of carDetail">
                <span style="margin: 5px;">
                    <span style="color: #e94f4f;font-size: 12px;">{{car.type}}:{{car.jingzhong}}({{car.count}}车)</span>
                </span>
            </ng-container>
        </p>
        <ng-container *ngFor="let car of cars; let i=index">
            <div class="carNo">{{car.carNo}}（{{car.person}}）:</div>
            <div style="padding-left:35px;">
                <ng-container *ngFor="let type of car.types; let j=index">
                    <span>{{type.type}}:{{type.jingzhong}}({{type.count}}车)</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
                <span class="smallTotal" style="padding-left:16px;">小计:
                    <span>{{car.total}}&nbsp;({{car.totalCount}}车)</span></span>
            </div>
        </ng-container>
        <p class="title" style="margin:3px 0px">外来车辆&nbsp;&nbsp;共计：<span
                style="color: #e94f4f;">{{outCarTotal.total}}({{outCarTotal.count}}车)</span></p>
        <div style="padding-left:35px;">
            <ng-container *ngFor="let outCar of outCars; let i=index">
                <span>{{outCar.origin}}-{{outCar.type}}:</span>{{outCar.jingzhong}}
                <span>({{outCar.count}}车)</span>&nbsp;&nbsp;
            </ng-container>
        </div>
        <!-- 禁用果渣统计 -->
        <!-- <p class="title" style="margin:3px 0px">果渣&nbsp;&nbsp;共计：<span
            style="color: #e94f4f;">{{guozhaCarTotal.total}}({{guozhaCarTotal.count}}车)</span></p> -->
        <div class='total'>
            总计：&nbsp;
            <span style="font-size: 18px;">{{total}}</span>
        </div>
    </div>


</ion-content>