<ion-header>
    <p class='total_header'>{{date | date:'yyyy-MM-dd'}}&nbsp;总计:
        <span class="total">{{total}}</span>
        (吨)
    </p>
    <div class="copyText" (click)="copyText()" Button [type]="'ghost'" [inline]="true" style="margin-right: 4px" [size]="'small'">分享文字</div>
</ion-header>
<ion-content>
    <Tabs
      [page]="2"
      activeTab="0"
      tabBarPosition="top"
    >
      <TabPane [title]="'车队'">
        <p class="title">车队&nbsp;&nbsp;共计：
            <span style="color: #e94f4f;">{{carTotal.total}}({{carTotal.count}}车)</span>
            <ng-container *ngFor="let car of carDetail">
                <span style="margin: 5px;">
                    <span style="color: #e94f4f;font-size: 12px;">{{car.type}}:{{car.jingzhong}}({{car.count}}车)</span>
                </span>
            </ng-container>
        </p>
        <ng-container *ngFor="let car of cars; let i=index">
            <div class="carNo">{{car.carNo}}（{{car.person}}）:</div>
            <div style="padding-left:35px;">
                <ng-container *ngFor="let type of car.types; let j=index">
                    <span>{{type.type}}:{{type.jingzhong}}({{type.count}}车)</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
                <span class="smallTotal" style="padding-left:16px;">小计:
                    <span>{{car.total}}&nbsp;({{car.totalCount}}车)</span></span>
            </div>
        </ng-container>
      </TabPane>
      <TabPane [title]="'外来车辆'">
        <p class="title" style="margin:3px 0px">外来车辆&nbsp;&nbsp;共计：
            <span style="color: #e94f4f;">{{outCarTotal.total}}({{outCarTotal.count}}车)</span>
            <ng-container *ngFor="let car of outcarDetail">
                <span style="margin: 5px;">
                    <span style="color: #e94f4f;font-size: 12px;">{{car.type}}:{{car.jingzhong}}({{car.count}}车)</span>
                </span>
            </ng-container>
        </p>
        <div class="outDetail">
            <div class="day">
                <p>白班:<span>{{outCarTotal1.total}}</span></p>
                <ng-container *ngFor="let outCar of outCars1; let i=index">
                    <div class="row">
                        <span>{{outCar.origin}}-{{outCar.type}}:</span>{{outCar.jingzhong}}
                        <span>({{outCar.count}}车)</span>
                    </div>
                </ng-container>
                <div>小计:</div>
                <ng-container *ngFor="let car of outcarDetail1">
                    &nbsp;&nbsp;<span style="color: #e94f4f;font-size: 12px;">{{car.type}}:{{car.jingzhong}}({{car.count}}车)</span>
                </ng-container>
            </div>
            <div class="night">
                <p>夜班:<span>{{outCarTotal2.total}}</span></p>
                <ng-container *ngFor="let outCar of outCars2; let i=index">
                    <div class="row">
                        <span>{{outCar.origin}}-{{outCar.type}}:</span>{{outCar.jingzhong}}
                        <span>({{outCar.count}}车)</span>
                    </div>
                </ng-container>
                <div>小计:</div>
                <ng-container *ngFor="let car of outcarDetail2">
                    &nbsp;&nbsp;<span style="color: #e94f4f;font-size: 12px;">{{car.type}}:{{car.jingzhong}}({{car.count}}车)</span>
                </ng-container>
            </div>
        </div>
      </TabPane>
    </Tabs>


</ion-content>