<ion-content>
    <p class='total_header'>{{date | date:'yyyy-MM-dd'}}&nbsp;统计(单位：吨)</p>
    <div class="car">
        <div class="carlabel">车队&nbsp;&nbsp;</div>
        <div class="carbox">
            <ng-container *ngFor="let car of cars; let i=index">
                <p><span>{{car.carNo}}({{car.person}})：</span>{{car.jingzhong}}</p>
            </ng-container>
        </div>
    </div>
    <div class="outcar">
        <div class="carlabel">外来车辆&nbsp;&nbsp;</div>
        <div class="carbox">
            <ng-container *ngFor="let outCar of outCars; let i=index">
                <p><span>{{outCar.origin}}({{outCar.type}})：</span>{{outCar.jingzhong}}
                    <span [hidden]="outCar.count===1">&nbsp;({{outCar.count}}车)</span></p>
            </ng-container>
        </div>
    </div>
</ion-content>