.total_header {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px;
}
.car,
.outcar,
.total {
  display: flex;
  flex-direction: row;
}
.carlabel {
  width: 100px;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}
.carbox {
  flex: 1;
}
.title {
  font-size: 14px;
  font-weight: bold;
  padding-left: 16px;
  margin-bottom: 0px;
}
.carNo {
  font-size: 15px;
  padding-left: 32px;
  font-weight: bold;
  margin-top: 0px;
  color: #108ee9;
}
.smallTotal {
  font-weight: bold;
  padding-left: 32px;
  & > span {
    color: #e94f4f;
  }
}
.total {
  font-size: 18px;
  font-weight: bold;
  padding-left: 16px;
  margin: 0px 0px;
  & > span {
    color: #e94f4f;
  }
}
.box{
    transform: scale(0.8);
}
