<List *ngIf="id == 'car'">
  <ng-container *ngFor="let list of lists; let i=index">
    <SwipeAction style="background-color: gray" [autoClose]="true" (onOpen)="open(i)">
      <ListItem extra="点击进行操作" (onClick)="itemClick(i)">
        {{list.carNo}}
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{list.weight}} &nbsp;吨
      </ListItem>
    </SwipeAction>
  </ng-container>
</List>
<List *ngIf="id == 'person'">
  <ng-container *ngFor="let list of lists; let i=index">
    <SwipeAction style="background-color: gray" [autoClose]="true" (onOpen)="open(i)">
      <ListItem extra="点击进行操作"  (onClick)="itemClick(i)">
        {{list.userName}}
      </ListItem>
    </SwipeAction>
  </ng-container>
</List>
<List *ngIf="id == 'type'">
  <ng-container *ngFor="let list of lists; let i=index">
    <SwipeAction style="background-color: gray" [autoClose]="true" (onOpen)="open(i)">
      <ListItem extra="点击进行操作"  (onClick)="itemClick(i)">
        {{list.typeName}}
      </ListItem>
    </SwipeAction>
  </ng-container>
</List>
<List *ngIf="id == 'origin'">
  <ng-container *ngFor="let list of lists; let i=index">
    <SwipeAction style="background-color: gray" [autoClose]="true" (onOpen)="open(i)">
      <ListItem extra="点击进行操作"  (onClick)="itemClick(i)">
        {{list.originName}}
      </ListItem>
    </SwipeAction>
  </ng-container>
</List>
<WingBlank>
  <span [hidden]="lists.length !== 0">暂无信息</span>
  <WhiteSpace [size]="'xs'"></WhiteSpace>
  <WhiteSpace [size]="'xs'"></WhiteSpace>
  <WhiteSpace [size]="'xs'"></WhiteSpace>
  <WhiteSpace [size]="'xs'"></WhiteSpace>
  <WhiteSpace [size]="'xs'"></WhiteSpace>
  <div [inline]='true' Button class="center_btn" [type]="'ghost'" [size]="'large'" (click)="add()">
    <span style="color:white">123123123</span>
    添加
    <span style="color:white">123123123</span>
  </div>
</WingBlank>