.note_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .button_box {
    height: 50px;
  }
  .table_box {
    width: 100%;
    flex: 1;
    font-size: 18px;
    .table_header {
      text-align: center;
      font-size: 18px;
    }
    .delete {
      color: red;
    }
    .carName {
      font-size: 13px;
      font-weight: bold;
    }
    .carPerson {
      font-size: 13px;
    }
    .img {
      width: 90px;
      height: 40px;
    }
  }
}
