<div class="note_box">
  <div class="header">账本日期：{{accountBook.date | date:'yyyy-MM-dd'}}</div>
  <div class="button_box">
    <div Button [inline]="true" [type]="'ghost'" (click)="addCarCtrl()">添加车队</div>
    <div Button [inline]="true" [type]="'ghost'" (click)="save()">保存</div>
    <div Button [inline]="true" [type]="'ghost'" (click)="addRow()">添加一行</div>
    <div Button [inline]="true" [type]="'ghost'" (click)="editCar()">修改车队</div>
    <div Button [inline]="true" [type]="'ghost'" (click)="export()">导出账本</div>
  </div>
  <div class="table_box">
    <Tabs (onChange)='changeTab($event)' [swipeable]="false" [useOnPan]="true" [swipeable]="true" [activeTab]="activeTabIndex" [tabBarActiveTextColor]="'#1890ff'">
      <TabPane *ngFor="let car of accountBook.cars; let i = index" [title]="'车队'+(i+1)+'-'+car.carNo">
        <div style="width: 100%;height:100%">
          <nz-table #table nzBordered [nzData]="car.datas" [nzScroll]="{ x:'1000px',y: '580px' }"
            [nzShowPagination]='false' nzPageSize='150'>
            <thead>
              <tr>
                <th class="table_header">车队</th>
                <th class="table_header">出发时间</th>
                <th class="table_header">回厂时间</th>
                <th class="table_header">货料来源</th>
                <th class="table_header">货料种类</th>
                <th class="table_header">毛重(吨)</th>
                <th class="table_header">皮重(吨)</th>
                <th class="table_header">净重(吨)</th>
                <th class="table_header">料款(元)</th>
                <th class="table_header">电子秤图片</th>
                <th class="table_header">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data;let j=index">
                <ng-container *ngIf="j === 0">
                  <td [attr.rowspan]='table.data.length' class="table_header">
                    <span class="carName">{{car.carNo}}</span><br>
                    <ng-container *ngFor="let person of car.persons">
                      <span class="carPerson">{{person.userName}}</span><br>
                    </ng-container>
                  </td>
                </ng-container>
                <td class="table_header">{{data.startTime}}</td>
                <td class="table_header">{{data.endTime}}</td>
                <td class="table_header" (click)="editCtrl('origin',i,j)">{{data.origin}}</td>
                <td class="table_header" (click)="editCtrl('type',i,j)">{{data.type}}</td>
                <td class="table_header" (click)="selfEditCtrl('maozhong',i,j,data.maozhong)">{{data.maozhong}}</td>
                <ng-container *ngIf="j === 0">
                  <td [attr.rowspan]='table.data.length' class="table_header">{{data.pizhong}}</td>
                </ng-container>
                <td class="table_header">{{data.jingzhong}}</td>
                <td class="table_header" (click)="selfEditCtrl('amount',i,j, data.amount)">{{data.amount}}</td>
                <td class="table_header">
                  <img class="img" (click)="seeImg(data.img)" [src]="data.thumbnail" alt="">
                </td>
                <td class="table_header">
                  <a [hidden]='data.img' (click)="openCamera(i,j)">拍摄</a>
                  <a [hidden]='!data.img' class='delete' (click)="deleteImg(i,j)">删除</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </TabPane>
    </Tabs>
  </div>
</div>